body {
    margin: 0;
    background-color: #f2f6fc;
}

.container{
    max-width: 100%;
}

/* HEADER */
header {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    color: #333333;
    border-bottom: 1px solid #000000;
    
}

.logo img{
    height: 80px;
}

.navbar {
    display: flex;
    gap: 30px;
}

.navbar a {
    text-decoration: none;
    color: #1a73e8;
    font-weight: bold;
}

/* MAIN */
main {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 60px;
    font-family: 'Source Sans 3', sans-serif;
}

.banner img {
    width: 100%;
    display: block;
}

.texto {
    margin-top: 20px;
    line-height: 1.6;
}

.linebreak{
    width: 100%;
    align-self: center;
    height: 4px;
    background: #000;
}


/* INVESTIGACAO */

.investigacao {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

section.investigacao h1{ 
    font-family: 'Poppins', sans-serif;
    color: #0f9d58;
}
section.investigacao h3{ 
    font-family: 'Poppins', sans-serif;
    color: #0f9d58;
}

.grid-investigacao {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.grid-box-investigacao p {
    text-align: justify;
}


/* PARCEIROS */
.parceiros {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
section.parceiros h1{
    font-family: 'Poppins', sans-serif;
    color: #0f9d58;
}

.grid-parceiros img {
    max-width: 60%;
}

.grid-parceiros {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}


/* OPORTUNIDADES */

.oportunidades {
    margin-top: 30px;
    margin-bottom: 30px;
}

.oportunidades h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #0f9d58;
}

.oportunidades p {
    margin-top: 100px;
}

.oportunidades-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
    margin-right: 40px;
    align-items: center;
}

.oportunidades-img img {
    width: 100%;
    display: block;
}

/* TABELA */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 2px solid #000;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #e6e6e6;
}

/* CONTACTOS*/
.contactos {
    margin-top: 30px;
    margin-bottom: 100px;
}

.contactos h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #0f9d58;
}

.contactos-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.contacto-mapa iframe {
  width: 100%;
  height: 100%;
  min-height: 350px;
  display: block;
}

.contacto-info p {
  margin: 5px 0;
}

.contacto-info h4 {
  margin: 15px 0 5px 0;
}


.contacto-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contacto-form input,
.contacto-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    font-family: inherit;
}

.contacto-form textarea {
    height: 100px;
    resize: none;
}

.contacto-form button {
    padding: 10px;
    background-color: #0f9d58;
    color: white;
    border: none;
    cursor: pointer;
}

.contacto-form button:hover {
    background-color: #0c7c45;
}



/* FOOTER */
footer {
    background-color: #0A1F44;
    color: #E6EEF8;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 10px 50px;
    flex-wrap: wrap;
    font-family: 'Source Sans 3', sans-serif;
}

.footer_socialmedia img {
    text-decoration: none;
    height: 24px;
    width: 24px;
}

.footer_course a,
.footer_course a:visited,
.footer_course a:hover,
.footer_course a:active,
.footer_course a:focus {
    color: #E6EEF8;
    text-decoration: none;
    outline: none;
}

.footer_course p {
    margin: 5px 0;
}

.footer_socialmedia a,
.footer_socialmedia a:visited,
.footer_socialmedia a:hover,
.footer_socialmedia a:active {
    text-decoration: none;
    border: none;
    outline: none;
}

.footer_privacy a,
.footer_privacy a:visited,
.footer_privacy a:hover,
.footer_privacy a:active {
    color: #E6EEF8;
    text-decoration: none;
    outline: none;
}

/* Esconde a checkbox que abre o hamburger */
.menu-toggle {
    display: none;
}

/* Cria o hamburger */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
    z-index: 100;
}

.hamburger span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #1c75bc;
    border-radius: 3px;
    transition: all 0.3s ease;
}


/* TABLET */
@media (max-width: 1024px) {
    .grid-investigacao {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-parceiros {
        grid-template-columns: repeat(2, 1fr);
    }

    .oportunidades-container {
        grid-template-columns: 1fr;
    }

    .contactos-container {
        grid-template-columns: 1fr;
    }

    .contacto-info {
        justify-items: center;
    }


    .hamburger {
        display: flex;
    }

    .navbar {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #f2f2f2;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 99;
        gap: 0;
    }

    .navbar a {
        margin: 0;
        padding: 15px 20px;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #ddd;
  }

    .navbar a:last-child {
        border-bottom: none;
    }

    .menu-toggle:checked ~ .navbar {
        display: flex;
    }
}

/* TELEMOVEL */
@media (max-width: 768px) {
    .grid-investigacao {
        grid-template-columns: 1fr;
    }

    .grid-parceiros {
        grid-template-columns: 1fr;
    }

    .oportunidades-container {
        grid-template-columns: 1fr;
    }

    .contactos-container {
        grid-template-columns: 1fr;
    }

    .contacto-info {
        justify-items: center;
    }
  
    .hamburger {
        display: flex;
    }

    .navbar {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #f2f2f2;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 99;
        gap: 0;
    }

    .navbar a {
        margin: 0;
        padding: 15px 20px;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }

    .navbar a:last-child {
        border-bottom: none;
    }

    .menu-toggle:checked ~ .navbar {
        display: flex;
    }
}
