*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
    line-height: 2;
    background-color: #ffffff;
}

top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;              
    padding: 10px ;
}

.topmenu {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #e9e9e9;
    color: #eeeeee;
}

.logo img {
    display: flex;
    justify-content: flex-end;
    margin-left: 3%;
    max-width: 100px;
    width: auto;
}

.top-links {
display: flex;
    list-style: none;
    flex-wrap: wrap;              
    justify-content: flex-end;    
}

.top-links li {
    margin: 0 20px;
}

.top-links a {
    color: #0c0000;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 100px 20px;
    min-height: 100vh;
    border-bottom: 1px solid #ffffff;
    
    display: flex;
    flex-direction: column;
    text-align: center;     
}

.inicio {
    background-color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("logo.png"); 
    background-size: cover;      
    background-attachment: scroll;
    
    justify-content: center;
    align-items: center;
    text-align: center;
    
    color: white;                
    padding: 0 20px;
}

.inicio h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.inicio p {
    font-size: 1.2rem;
    max-width: 600px;
}

h2 {
}


.footer {
    background-color: #001f3f;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer_socialmedia img {
    text-decoration: none;
    height: 24px; 
    width: 24px;
}

.footer_course a,
.footer_course a:visited,
.footer_course a:hover,
.footer_course a:active,
.footer_course a:focus {
    color: white;           
    text-decoration: none;
    outline: none;          
}

.footer_course p {
    text-align: center;
    color: inherit;
}

.footer_socialmedia a,
.footer_socialmedia a:visited,
.footer_socialmedia a:hover,
.footer_socialmedia a:active {
    text-decoration: none;
    border: none;
    outline: none;
}


/* CSS para grids de cada secção*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto auto; 
    gap: 15px;
}

.grid-box {
    background: #ffffff;
    border: 2px solid #000000;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
}

.grid-box img {
    width: 100%;
    height: 250px; 
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
}